---
---
@import 'bootstrap/bootstrap';
@import 'custom/includes/header';
@import 'custom/includes/pageHeader';
@import 'custom/includes/social_links';
@import 'custom/includes/index';
@import 'custom/images';
@import 'custom/downloadAndLinks';
@import 'custom/aktuelles';


* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
}

.pageContent {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 200px;
}

.block {
    padding-top: 50px;
}

footer {
    background-color: black;
    color: white; 
    position: relative;
    height: 170px;
    margin-top:  -170px;
    clear: both;

    @media (max-width: 576px) {
        height: 220px;
    }
}

table {
    width: 100%;
    margin-top: 20px;
}

tr {
    border-bottom: 1px solid #ddd;
}
tr:last-child {
    border-bottom: none;
}

ul {
    margin-left: 50px;
}

blockquote {
    font-style: italic;
    padding-left: 50px;

    p {
        background-color: rgb(223, 223, 223);
        padding: 20px;
    }
}

h1 {
    font-size: 40px;
    color: $primary;
    text-transform: uppercase; 
    padding-top: 40px;
}

.hide-when-small {
    @media (max-width: 576px) {
        display: none !important;
    } 
}

.centered-text {
    width: 30%;
    margin: 0 auto;
}

// -- Cookie Banner
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    z-index: 9999;
  }
  
  .cookie-banner p {
    margin: 0;
  }
  
  .cookie-banner a {
    color: $primary;
    text-decoration: none;
  }
  
  .accept-button {
    background-color: $primary;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .accept-button:hover {
    background-color: $primary;
  }
  