---
---
@import 'bootstrap/bootstrap';
@import 'custom/includes/header';
@import 'custom/includes/pageHeader';
@import 'custom/includes/social_links';
@import 'custom/includes/index';
@import 'custom/includes/images';


* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
}

.pageContent {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 200px;
}

.block {
    padding-top: 50px;
}

footer {
    background-color: black;
    color: white; 
    position: relative;
    height: 170px;
    margin-top:  -170px;
    clear: both;

    @media (max-width: 576px) {
        height: 220px;
    }
}

table {
    width: 100%;
    margin-top: 20px;
}

tr {
    border-bottom: 1px solid #ddd;
}
tr:last-child {
    border-bottom: none;
}

ul {
    margin-left: 50px;
}

blockquote {
    font-style: italic;
    padding-left: 50px;

    p {
        background-color: rgb(223, 223, 223);
        padding: 20px;
    }
}

h1 {
    font-size: 40px;
    color: $primary;
    text-transform: uppercase; 
    padding-top: 40px;
}


.hide-when-small {
    @media (max-width: 576px) {
      display: none !important;
    } 
  }