.imageStyle {
    height: 150px;
    float: left;
    padding-top: 10px;
}
.imageStyleVerband {
    height: 150px;
    float: right;
}
.imageStyleWaffen {
    height: 250px;
    float: right;
}
.imageStyleUeberUns {
    height: 300px;
    float: right;
}
.imageStyleTrainer {
    width: 246px;
    //height: 380px;
    float: left;
    padding-top: 10px;
}

// figures
.positionRight {
    float: right;
    border: 1px solid grey;
    width: 170px;
    height: 320px;
    text-align: center;
}

.positionLeft {
    float: left;
    border: 1px solid grey;
    width: 190px;
    height: 320px;
    text-align: center;
}

.positionMiddle {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    width: 207px;
    height: 320px;
    text-align: center;
}

.doshuImage {
    max-width: 98%;
    padding-top: 2px;
}

figcaption {
    padding-top: 10px;
    padding-bottom: 10px;
}