<footer class="py-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                Diese Seite verwendet keine Cookies.
            </div>
        </div>
        <hr style="border-top: 1px solid white"/>
        <div class="row">
        <div class="col text-left" id="kontaktPosition">
            KONTAKT<br />
            <a href="tel:+436648360461">+43 664 83 60 461 (Martin Hölzl)</a><br />
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
        <div class="col text-center">
            {% include social_links.html %}
        </div>
        <div class="col text-right">
            <a href="{{ site.baseurl }}/impressum">Impressum</a><br />
            <a href="{{ site.baseurl }}/datenschutz">Datenschutz</a><br />
        </div>
        </div>
    </div>
</footer>