<footer class="py-5" style="background-color: black;color: white;">
    <div class="container">
        <div class="row">
        <div class="col text-left">
            KONTAKT<br />
            <a href="tel:+436648360461">+43 664 83 60 461</a><br />
            <a href="mailto:linzaikido@gmail.com">linzaikido@gmail.com</a>
        </div>
        <div class="col text-center">
            {% include social_links.html %}
        </div>
        <div class="col text-right">
            Impressum<br />
            Datenschutz<br />
            Sitemap
        </div>
        </div>
    </div>
</footer>