<!-- NAV -->
<div class="container">
<nav class="navbar navbar-expand-lg">
  <a href="{{ site.baseurl }}/" class="navbar-brand">
    <img src="{{ site.baseurl }}/images/Logo_Aikinomichi-Linz.jpg" style="height: 40px;" />
    <h3 class="d-inline align-middle pl-3 text-primary">Aikinomichi-Linz</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/test" class="nav-link">Test</a>
      </li>
    </ul>
  </div> 
</nav>
</div>