<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="{{ site.baseurl }}/" class="navbar-brand">
    <h3 class="d-inline align-middle pl-3 text-primary">Aikinomichi-Linz</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/test" class="nav-link">Test</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/test2" class="nav-link">Test2</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/test3" class="nav-link">Test3</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/archive/" class="nav-link">Archive</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/about/" class="nav-link">About</a>
      </li>
    </ul>
  </div>
</nav>