<!-- NAV -->
<div class="container">
<nav class="navbar navbar-light navbar-expand-lg">
  <a href="{{ site.baseurl }}/" class="navbar-brand">
    <img src="{{ site.baseurl }}/images/Logo_Aikinomichi-Linz.jpg" style="height: 40px;" />
    <h3 class="d-inline align-middle pl-3 text-primary hide-when-small">Aikinomichi-Linz</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="Verein" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Verein
        </a>
        <div class="dropdown-menu" aria-labelledby="Verein">
          <a class="dropdown-item" href="{{ site.baseurl }}/ueberUns">Über Uns</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/training">Training</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/trainer">Trainer</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/verbaende">Verbände</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/vorstand">Vorstand</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="Termine" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Termine
        </a>
        <div class="dropdown-menu" aria-labelledby="Termine">
          <a class="dropdown-item" href="{{ site.baseurl }}/trainingszeiten">Trainingszeiten</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/lehrgaenge">Lehrgänge</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="Wiki" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Aikido Wiki
        </a>
        <div class="dropdown-menu" aria-labelledby="Wiki">
          <a class="dropdown-item" href="{{ site.baseurl }}/aikido">Aikido</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/aikidoUndYoga">Gesundheit</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/aikidoUndIaido">Aikido und Iaido</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/doshu">Doshu</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/etikette">Etikette</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/prinzipien">Prinzipien</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/downloadAndLinks" class="nav-link">Download & Links</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/test" class="nav-link">Test</a>
      </li>
    </ul>
  </div> 
</nav>
</div>