.navbar{
  background: $white;
}

.nav-link {
  color: $info !important;
  text-transform: uppercase; 

  &:hover {
    color: $primary !important;
  }
}

.hide-h3-small {
  @media (max-width: 576px) {
    display: none !important;
  } 
}