.centered {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
    h1 {
        color: white;
    }
}

.buttonType1 {
    background-color: white; /* Green */
    border: 2px solid white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 250px;
  }

.buttonType2 {
    background-color: $primary; /* Green */
    border: 2px solid $primary;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 250px;
}

.buttonType2:hover {
  color: black;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 675px;
  width: 100%;
  background-image: url('../images/SliderOne.jpg');
  background-position: center;
  background-size: auto 875px;
  background-repeat: no-repeat;

  @media (max-width: 576px) {
      height: 400px;
      background-size: auto 400px;
  }
}
