.hederStyle {
    font-size: 50px;
    color: $primary;
    text-transform: uppercase; 
    padding-top: 50px;
}

.imageContainer {
    height: 150px;
    width: 100%;
    background-image: url('../images/PageHeader.jpg');
    background-position: center;
    background-size: 100% auto;

    @media (max-width: 576px) {
        background-size: auto 150px;
    }
}